DATABASE_URL=localhost
DATABASE_PORT=3306
DATABASE_NAME=coldtrack_platform
DATABASE_USER=root
DATABASE_PASSWORD=password
JWT_SECRET=replace-with-at-least-32-characters
JWT_EXPIRATION_MS=86400000
FRONTEND_ORIGINS=http://localhost:4200,https://coldtrack-front-open.web.app
PORT=8080
SPRING_PROFILES_ACTIVE=dev
